
<style type="text/css">

    .submit_question_btn{
      cursor: pointer;
      font-size: 15px;
      background-color: #F7E5BE; 
      text-align: center; 
      padding: 2px 18px;
      border: 1px solid black; 
      text-decoration: none;
    }

</style>


<div style="width: 300px;">

      <div style="margin-top: 0px" id="ask_tutor">
        <span style="font-weight: bold; font-size: 22px;"> 
          Ask a Tutor
        </span>

        <br> <br>
        <p style="text-decoration: none; margin: 0px 0px 0px 0px;">
          If you're a codegates student, you can ask your question below and receive
          an answer from a tutor on the same day ...
        </p>
        <br> 
      
      </div>

      <div style="margin-top: 8px;">
        <%= form_for :student_communication, url: student_communication_url do |f| %>
            <%= f.text_field :content, placeholder: "Your Question",
                style: "width: 288px; height: 100px; margin-bottom: 6px;", :required => true %> <br>
            
            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

            <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

            <%= f.submit "Submit", class: "submit_question_btn" %> <br> <br>
        <% end %>
      </div>
</div>
