<!-- styles are in info layout file -->

<script src="https://kit.fontawesome.com/114907e6ad.js" crossorigin="anonymous"></script>


<div style="width: 442px; margin: 52px auto 16px auto;">


  <div style="text-align: center;">

  <!--<%= link_to "Free Trial", ask_tutor_path, style: "padding: 0px 7px 0px 0px;" %>   
  <%= link_to "Contact Us", ask_tutor_path, style: "padding: 7px 8px;" %> -->
  <!-- <%= link_to "Teacher(s)", ask_tutor_path, style: "padding: 7px 8px;" %> -->
  <!-- <%= link_to "What people say", ask_tutor_path, style: "padding: 7px 8px;" %> -->

  </div>

	<h1 style="font-size: 32px; text-align: center;"> We Teach Beginners Basic Coding in Python through Weekly Live Online Classes </h1>
	
	<h3 style="font-size: 16px; text-align: center;"> Weekly <span style="text-decoration: line-through;">Yoga/Spanish/Piano</span> Coding Class <i class="fas fa-check" style="margin-left: 2px;"></i> </h3>
	<!--
	<p> Many people do a weekly yoga/musical instrucment/language class a week, this is the same but for learning somthing
	that's useful as well as fun. </p>
	-->

	<br>
	<div style="text-align: center;">
		<%= link_to "Join Free Trial Class!", "https://calendly.com/coding_classes/times", target: "_blank", style: "text-decoration: none; padding: 16px 48px; background-color: orange; font-weight: bold; font-size: 16px; color: black; display: inline-block;" %>
	</div>

	<!-- Sign into a Free Trial Class -->
	<p style="font-weight: bold; font-size: 18px; margin-top: 45px;"> FAQ </p>
	<p class="faq_question" style="margin-top: 0px;"> Who is this for? </p>
	<p class="faq_answer">
		Everyone with little or no coding experience who wants to learn.
	</p> <br>


	<p class="faq_question" style="margin-top: 0px;"> How many students are in each class? </p>
	<p class="faq_answer"> 
		Around 6-8. Never more than 10.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> How much is it? </p>
	<p class="faq_answer"> 
		£7.50 per class after the first class that is a
		<%= link_to "free trial", "https://calendly.com/coding_classes/times", target: "_blank" %>.


		<!-- First class is a free trial so you can see whether you like it. <br> After that we charge -->
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> Who teaches the classes? </p>
	<p class="faq_answer"> 
		Most often 
		<%= link_to "Johannes", "https://github.com/JohannesSeikowsky?tab=repositories", target: "_blank" %>, sometimes Jannik.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> How does a typical class look like? </p>
	<p class="faq_answer">
		In each class there is one part where the teacher goes through a relevant topic or
		case-study and another where students work on exercises while the teacher "goes around"
		dropping in on everyone to help out on a 1-on-1 basis.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> When are the classes? </p>
	<p class="faq_answer"> 
		There are two classes every evening of the week, except Saturdays. One 18.00-19.00 and
		another 19.00-20.00 UK-time.
	</p> <br>


	<p class="faq_question" style="margin-top: 0px;"> Where are the classes? </p>
	<p class="faq_answer"> 
		Online. We use a simple online classroom you can log into.
	</p> <br>


	<p class="faq_question" style="margin-top: 0px;"> Do I have to attend 1 class every week? </p>
	<p class="faq_answer"> 
		 You can join as many classes as you like. We however do recommend not to do fewer than 1 a week. Simply because
		 that's the dose needed to keep making progress.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> Can I cancel anytime? </p>
	<p class="faq_answer"> 
		Yes
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> What is the curriculum? </p>
	<p class="faq_answer"> 
		Firstly we cover the basics of the Python language, then we do 3 small
		practice projects and then we move each student on to a personal project he/she actually
		wants to build.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> Do I have to attend the same time slot each week? </p>
	<p class="faq_answer">
		No, you can choose flexibly from week to week. We however do recommend to choose one default slot to keep things simple and straightforward e.g. Thursdays 19.00. 
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> Will I get a certificate? </p>
	<p class="faq_answer">
		If you wish we can create a GitHub repository for you where you can upload the practice projects and
		the personal project you will have worked on. This is not a certificate per se, but definitely is something that
		can be used on CVs, job applications etc.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> What if other students in my class are more advanced? </p>
	<p class="faq_answer">
		The "lecture" part of any class is done in a way that's useful for beginners
		as well as more advanced students. The rest of the class is spent on exercises and projects with the teacher
		helping out on a 1-on-1 basis. In this way there's never any conflict between students of different
		skill levels.
	</p> <br>

	<p class="faq_question" style="margin-top: 0px;"> What do I need to join a trial class? </p>
	<p class="faq_answer">
		A working computer and a reasonable Internet connection.
	</p> <br>


	<!--
	<p class="faq_question" style="margin-top: 0px;"> What will the online classes cover? </p>
	<p class="faq_answer"> There is no set curriculum - the classes are designed to help you progress at your preferred pace. <br> <br>
	For most students, the first 8-10 weeks are dedicated to completing the contents of this online course to build a strong understanding of the Python basics. <br> <br>
	Afterwards, your tutor will help you select and complete actual Python projects that you’ll find useful and interesting to build. </p>

	<p class="faq_question"> How much does it cost? </p>
	<p class="faq_answer"> We charge £12.95 per week, billed monthly. <br> <br>
	This includes one weekly online class and the option of contacting your tutor with questions if you need more support during the week (we aim to respond within 24 hours). <br> <br>
	You are free to cancel your subscription any time without any charges. </p>

	<p class="faq_question"> How big are the online classes? </p>
	<p class="faq_answer"> Each session has one teacher and a maximum of four students.  </p>

	<p class="faq_question"> I can’t attend class this week, what do I do? </p>
	<p class="faq_answer"> Not a problem! Just let your tutor know and you won’t be charged for the week. </p>

	<p class="faq_question"> What will I be able to do by the end of the Codegates programme? </p>
	<p class="faq_answer"> The Codegates programme is here to help you become a confident user of Python. As a minimum, you will be able to: <br> <br>
	- Demonstrate an understanding of essential coding concepts <br> 
	- Apply those concepts to building basic Python programmes <br>
	- Navigate available online Python resources <br> <br>
	We will also set you up with your own GitHub account to display your completed projects - a valuable addition to any CV! </p>

	<p class="faq_question"> I know coding is important, but why should I learn Python? </p>
	<p class="faq_answer"> One reason is that Python is relatively easy to get started with, which is important for motivational reasons.
		<br> <br> But maybe even more importantly, Python is used in a very wide variety of different fields - data analysis, web-scraping, hobby robotics, machine-learning - you name it! <br> <br> Meaning that, whatever you end up doing eventually, it's very unlikely that you'll regret having started with Python. </p>

	<p class="faq_question"> I already know how to code, is this course for me? </p>
	<p class="faq_answer"> This course is optimised for those with little to no experience in coding. If you already know Python or another language, you may find a course for intermediate or advanced programmers more beneficial. </p>

	<p class="faq_question"> What if I still have questions? </p>
	<p class="faq_answer"> Don’t hesitate to  <%= link_to "Contact a Tutor", ask_tutor_path %> 
	if you have any additional questions. We’ll get back to you as soon as possible. </p>
	-->
	<div style="text-align: center;">
		<%= link_to "Choose Time Slot for Free Trial Class!", "https://calendly.com/coding_classes/times", target: "_blank", style: "text-decoration: none; padding: 16px 48px; background-color: orange; font-weight: bold; font-size: 16px; color: black; display: inline-block;" %>
	</div>

	<h1 style="font-size: 32px; text-align: center; margin-top: 40px; text-decoration: underline;"> Contact Us </h1>
	<h3 style="font-size: 20px; text-align: center;"> Email: codegates@gmail.com </h1>
	<h3 style="font-size: 20px; text-align: center;"> Phone: +447752683285  </h1>


	<br>
	<p style="text-align: center;"> © Codegates 2019 All rights reserved </p>
</div>
