
<div style="width: 300px;">
	  <p style="text-decoration: underline; width: 760px;"> Join our evening classes </p>

      <div style="margin-top: 22px" id="ask_tutor">
        <span style="font-weight: bold; font-size: 18px;"> 
          Ask a Tutor
        </span>
      </div>

      <div style="margin-top: 8px;">
        <%= form_for :student_communication, url: student_communication_url do |f| %>
            <%= f.text_field :content, placeholder: "Your Question",
                style: "width: 288px; height: 100px; margin-bottom: 6px;", :required => true %> <br>
            
            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

            <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

            <%= f.submit "Submit", style: "cursor: pointer; font-size: 14px; margin-top: 0px; padding: 4px 8px 4px 8px;" %> <br> <br>
        <% end %>
      </div>
</div>
