
<div style="width: 300px;">

    <!-- More comprehensive version -->

    <p style="text-decoration: underline; margin: 0px 0px 10px 0px;"> 
      Basics
    </p>

    <p style="">
      We do two online evening classes every day of the week, Monday-Friday. One from 18.00-19.00 and
      another from 19.00-20.00 (UK-time). Each class has up to 6 students and 1 coding tutor. 
      <br> <br>
      As a rule, most of our students attend one class per week on a relatively continuous basis.
      <br> <br>
      <!-- In general our goal is to teach people enough Python so they can use coding for their own purposes. To that end -->
      In general we firstly cover the
      basics of Python (8-10 classes) and then move each student on to a real coding project he/she actually wants to code.
      <br> <br>
      We charge £12.95 per class/week, you are free to cancel at your convenience and you can join your first class as a free trial.
      <br> <br>
      If you have any questions, you can use the Ask-a-Tutor button (top-right) to ask. If you'd like to join a class as a free trial, you can easily do so below.
    </p>


    <p style="text-decoration: underline; margin: 28px 0px 10px 0px;"> 
      Join Trial Class
    </p>


      <div style="margin-top: 8px;">
        <%= form_for :student_communication, url: student_communication_url do |f| %>


            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <p> Which time slot would suit you for the trial class? Available times: Every week, Monday-Friday, 18.00-19.00 or 19.00-20.00 each day. </p>
            <%= f.text_field :content, placeholder: "e.g. Thursday next week, 19.00-20.00",
                style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <%= f.submit "Join", style: "cursor: pointer; font-size: 14px; margin-top: 0px; padding: 4px 8px 4px 8px;" %> <br> <br>
        <% end %>
      </div>
</div>
