
<div style="width: 335px;">

    <!-- More comprehensive version -->

    <p style="text-decoration: underline; margin: 0px 0px 10px 0px;"> 
      Online Evening Classes
    </p>

    <p style="">
      We do online evening classes every day of the week except on Saturdays. The classes start daily at
      18.00, 19.00 and 20.00 respectively (UK-time) and last one hour each.

      <br> <br>
      Each class has up to 6 students and 1 coding tutor. 
      <br> <br>
      As a rule, most students attend one class per week on a relatively continuous basis.
      <br> <br>
      <!-- In general our goal is to teach people enough Python so they can use coding for their own purposes. To that end -->
      We firstly cover the
      basics of Python (8-10 classes) and then move each student on to a real coding project he/she actually wants to code.
      <br> <br>
      We charge £12.95 per class/week and you are free to cancel anytime.
      <br> <br>
      If you have any questions, you can use the "ask-a-tutor" button in the top-right corner. 
      If you'd like to join a class to see whether it's for you, you can easily do so below. Everybody is welcome!
    </p>


    <p style="text-decoration: underline; margin: 28px 0px 10px 0px;"> 
      Join Class
    </p>


      <div style="margin-top: 8px;">
        <%= form_for :student_communication, url: student_communication_url do |f| %>


            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <p> Which time slot would suit you? Available times: Every week, Monday-Friday and Sunday, 18.00-19.00, 19.00-20.00 or 20.00-21.00, UK-time. </p>
            <%= f.text_field :content, placeholder: "e.g. Thursday next week, 19.00-20.00",
                style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <%= f.submit "Submit", style: "cursor: pointer; font-size: 14px; margin-top: 0px; padding: 4px 8px 4px 8px;" %> <br> <br>
        <% end %>
      </div>
</div>
