
<div style="width: 335px;">

    <!-- More comprehensive version -->

    <p style="text-decoration: underline; margin: 0px 0px 10px 0px;"> 
      Online Classes
    </p>

    <p>
      We host small online classes with up to 4 students every evening of the week, except Saturdays. 
      Below you can easily join a class by picking one of the available time slots.
      <%= link_to "See FAQ for details.", faq_path %>
       <!--
      <br> <br>
      If you have any more questions, don’t hesitate to contact a tutor in the top-right corner. Hope to see you in class!
      -->
    </p>


    <!--
    <p style="">
      We do online evening classes every day of the week except Saturdays. The classes start daily at
      18.00, 19.00 and 20.00 respectively, UK-time, and last one hour each.

      <br> <br>
      Each class has up to 4 students and 1 coding tutor. 
      <br> <br>
      As a rule, most students attend one class per week on a relatively continuous basis.
      <br> <br>
      We firstly cover the
      basics of Python (8-10 classes) and then move each student on to a real project he/she actually wants to code.
      <br> <br>
      We charge £12.95 per class/week and you are free to cancel anytime.
      <br> <br>
      If you have any questions, feel free to use the ask-a-tutor button in the top-right corner. 
      <br> <br>
      If you'd like to join a class to see whether it's for you, you can easily choose a 
      <%= link_to "time slot from our calendar", "https://appoint.ly/s/python_classes/times", target: "_blank" %>
      or use the form below.
    </p>
    `-->


    <p style="text-decoration: underline; margin: 28px 0px 10px 0px;"> 
      Get started
    </p>


      <div style="margin-top: 8px;">
        <%= form_for :student_communication, url: student_communication_url do |f| %>

            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 8px;", :required => true %> <br>

            <div style="width: 335px; height: 182px;">
            <div style="width: 136px; float: left;">
            <p style="text-decoration: none;"> Preferred day </p>
            <%= f.radio_button :content, "Monday" %> 
            <%= f.label :content, "Monday", :value => "Monday"  %>
            <br>
            <%= f.radio_button :content, "Tuesday" %> 
            <%= f.label :content, "Tuesday", :value => "Tuesday" %>
            <br>
            <%= f.radio_button :content, "Wednesday" %> 
            <%= f.label :content, "Wednesday", :value => "Wednesday"  %>
            <br>
            <%= f.radio_button :content, "Thursday" %> 
            <%= f.label :content, "Thursday", :value => "Thursday" %>
            <br>
            <%= f.radio_button :content, "Friday" %> 
            <%= f.label :content, "Friday", :value => "Friday"  %>
            <br>
            <%= f.radio_button :content, "Sunday" %> 
            <%= f.label :content, "Sunday", :value => "Sunday" %>
            </div>
            
            <div style="width: 150px; float: left;">
            <p style="text-decoration: none;"> Preferred time (UK) </p>
            <%= f.radio_button :time, "18.00-19.00" %> 
            <%= f.label :time, "18.00-19.00", :value => "18.00-19.00" %>
            <br>
            <%= f.radio_button :time, "19.00-20.00" %> 
            <%= f.label :time, "19.00-20.00", :value => "19.00-20.00"  %>
            <br>
            <%= f.radio_button :time, "20.00-21.00" %> 
            <%= f.label :time, "20.00-21.00", :value => "20.00-21.00"  %>
            </div>
            </div>
            <%= f.submit "Submit & Join Class", style: "cursor: pointer; font-size: 14px; padding: 4px 8px 4px 8px;" %>
        <% end %>
      </div>
</div>