
<h3 style="margin-top: 0px;"> Practice 1 - Built-in Functions </h3>

<p> 
	Repl.it has a "classroom" function which allows us to set practice tasks and allows you to write and submit "answer code" in a dedicated Repl Environment. The submissions will then automaticaly be forwarded to your tutor. Here is how to start using our "classroom", assuming you've already made your own Repl.it account. If you haven't, you can do that <%= link_to "here", "https://repl.it/signup", target: "_blank" %>. <br>

	<h3 style="margin-top: 0px;"> Using the "Classroom" </h3>

	- Click here to gain access: <%= link_to "Codegates Repl.it Classroom", "https://repl.it/classroom/invite/1ituUa1", target: "_blank" %> <br> <br>
	- Now click on the classroom named "Codegates Python". <br> <br>
	- You're now in our "classroom" and can see all the different "assignments" named Practice X. <br> <br>
	- Click on "Practice 1" to get to our first "assignment" to practice Built-in Functions. <br> <br>
	- Within each "assignment" all instructions are on the right hand side and you can write your "answer code" on the left. You can run the code you write whenever and how often you like and submit it when you're satisfied with your "answer". Your submission is then forwarded to your tutor. <br> <br>
	- As said, for the first assignment we're practicing Built-in Functions and the instructions can be found on the right hand side within the assignment. Have a go and submit your code when ready. Happy coding! <br> <br>
	NOTE: Don't feel like all your submissions need to be 100% correct and proper. You're not being graded, this is purely for practice, which is often messy, and our tutors are here to help, not judge.
	<!--
	p.s. If you're struggeling with something, ask your tutor.
	-->
	<!--
	In case you can't find the right "classroom" or "assignment", click the "student" link in your header, that should get you to an overview of all classrooms you're part of and from there on it should be self-explanatory.
	-->
</p>


<!--
<p> 
The link below will lead you to a Repl.it "practice page". All practice tasks are described on the
right. You can write your "answer code" in the large box on the left. 

Submissions are automatically forwarded to your tutor.
</p>

<p>
	<%= link_to "Practice Tasks - Built-in Functions", page_four_path, style: "margin-right: 4px;" %>
</p>
-->

<div style="font-size: 16px; margin-top: 26px;"> 
	<span style="float: right;">
		<%= link_to "BACK", page_four_path, style: "margin-right: 4px;" %>
		<%= link_to "NEXT", page_six_path, style: "margin-right: 4px;" %>
	</span>
</div>
<br>
<!--
<p>
	1 Minute Explainer - How to do and submit exercises.
</p>
-->