<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Coding Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://codegates.com/assets/images/favicon.png?v37705171731551"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      /* font-family: "DejaVu Sans"; */
      background-color: #F7EEE5;
      /* background-color: #F5F7EE; */
      margin-top: 36px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    #container{
      width: 1040px;
      margin-left: 100px;
    }

    #course_title{
      text-decoration: underline; 
      margin-bottom: 32px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }
  </style>

  <body>
    
    
    <div id="container">
    <span style="background-color: orange; font-size: 18px; font-weight: bold;"> Next Co-coding evening is next Friday, 22nd of March, 19.00-21.30 UK-time </span>

      <!--
      <h3 id="course_title"> Programming with Python </h3>
      -->

      <h3 id="course_title"> The Minimum to be Dangerous </h3>

      <div id="side_bar">
        <%= link_to "1. Intro", root_path, class: "side_bar_links" %>
        <%= link_to "2. Repl.it", less_two_path, class: "side_bar_links" %>
        <%= link_to "3. Built-in Functions", less_three_path, class: "side_bar_links" %>
        <%= link_to "4. Programming Languages", less_four_path, class: "side_bar_links" %>
        <%= link_to "5. Strings & String-Functions", less_five_path, class: "side_bar_links" %>
        <%= link_to "6. Comments", less_six_path, class: "side_bar_links" %>
        <%= link_to "7. Variables", less_seven_path, class: "side_bar_links" %>
        <%= link_to "8. ", less_eight_path, class: "side_bar_links" %>
        <%= link_to "9. ", less_eight_path, class: "side_bar_links" %>
        <%= link_to "10. ", less_eight_path, class: "side_bar_links" %>

        <!--
        <br>
        <p> This series of video tutorials and exercises <br> is to understand the necessary basics of Python, <br>
          so youre able to get to work on a project. <br> The date of the next Co-coding eveing is
          always published on top of this site. <br> Below each video you have a direct Line to
          your tutor. All exercise results you submit will be received by your tutor, he;ll get back to you with comments.
        </p>
        -->

      </div>


      <div id="lesson_content">
         <%= yield %>

          <!-- <h3 style="text-decoration: underline;"> Ask your Tutor </h3> -->

          <div style="margin-top: 22px;">
            <%= form_for :student_communication, url: student_communication_url do |f| %>
                <%= f.text_field :content, placeholder: "Your Question",
                    style: "width: 468px; height: 100px; margin-bottom: 6px;" %> <br>
                <%= f.text_field :student, placeholder: "Your Name",
                    style: "width: 255px; height: 26px; margin-bottom: 12px;" %> <br>
                <%= f.text_field :tutor, placeholder: "Your Tutor",
                    style: "width: 255px; height: 26px; margin-bottom: 12px;" %> <br>
                <%= f.submit "submit Question", style: "cursor: pointer; font-size: 13px; margin-top: 0px;" %> <br> <br>
                <span style="text-decoration: underline;"> Current Tutors: Johannes, Alfred, Marcello, Oleg </span> <br>
            <% end %>
          </div>


      </div>
    </div>

  </body>
</html>
