<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Python Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('cgates_logo.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      font-family: Verdana, sans-serif; 
      background-color: #F6F6EF;
      /* background-color: #F7EEE5; */
      /* background-color: #F5F7EE; */
      margin-top: 12px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    a{
      color: black;
    }

    #container{
      width: 1040px;
      margin: auto;
    }

    #course_title{
      margin-bottom: 32px;
      font-size: 18px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    .practice_link{
      color: #262626;
      margin-bottom: 14px;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }

    #ask_tutor_link{
      margin-right: 12px;
      padding: 3px 7px 3px 7px;
      /* background-color: #B0E46E; */
      text-decoration: underline;
    }

    .vid_title{
      font-weight: bold; 
      font-size: 18px;
    }

    .vid_description{
      margin-top: 6px;
      width: 468px;
      line-height: 1.32;
    }

    .to_practice_btn{
      background-color: #DEDED4; 
      padding: 4px 12px;
      text-decoration: none;
      font-size: 15px;
      border: 2px solid lightgrey;
    }


    .link_overlay{
       position: absolute; 
       top: 0; 
       left: 0; 
       z-index: 10; 
       background-color: orange; 
       width: 214px; 
       text-align: right; 
       color: orange; 
       opacity: 0.2;
     }

     .faq_question{
        font-weight: bold;
        margin-bottom: 6px;
     }

     .faq_answer{
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 42px;
     }

  </style>

  <body>
    
    <div id="container" style="position: relative;">

      <div style="position: absolute; right: 0px; top: 10px;">
      <%= link_to "Contact a Tutor", ask_tutor_path, style: "text-decoration: none; padding: 7px 13px; background-color: orange; font-weight: bold;" %> 

      <%= link_to "Join our Online Classes", join_class_path, style: "text-decoration: none; padding: 7px 13px; background-color: orange; font-weight: bold;" %> 
      </div>

      <div style="margin-bottom: 22px;">
        <%= link_to root_path, style: "text-decoration: none; position: inline;" do %>
          <h1 style="margin: 0px 0px 4px 0px; font-size: 28px;"> Codegates Python </h1>
          <h2 style="margin: 0px 0px 10px 0px; font-size: 18px;"> The Minimum to be Dangerous </h2>
        <% end %>
      </div>

      
      <div id="side_bar">
        <div style="position: relative;">
          <%= link_to "One Minute Intro", intro_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>
          <% if @current == "intro" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "1. Repl.it", repl_it_path, class: "side_bar_links", style: "position: relative;" %>

          <% if @current == "repl_it" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "1.1. Practice", practice_repl_it_path, class: "side_bar_links practice_link" %>

          <% if @current == "practice_repl_it" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        
        <div style="position: relative;">
          <%= link_to "2. Built-in Functions", builtin_functions_path, class: "side_bar_links" %>
        
            <% if @current == "builtin_functions" %>
              <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <%= link_to "2.1. Practice", practice_builtin_functions_path, class: "side_bar_links practice_link" %>
        
        <div style="position: relative;">
          <%= link_to "3. Programming Languages", programming_languages_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>

          <% if @current == "programming_languages" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "4. Strings & String-Functions", strings_path, class: "side_bar_links" %>
          
          <% if @current == "strings" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "4.1. Practice", practice_strings_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "5. Packages (Preview)", packages_preview_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>
          
          <% if @current == "packages_preview" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "6. Comments", comments_path, class: "side_bar_links" %>

          <% if @current == "comments" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "6.1. Practice", practice_comments_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "7. Variables", variables_path, class: "side_bar_links" %>
        
          <% if @current == "variables" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "7.1. Practice", practice_variables_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "8. Numbers", numbers_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>
        
          <% if @current == "numbers" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "9. Case Study 1", case_study_one_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>
          
          <% if @current == "case_study_one" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "10. Lists", lists_path, class: "side_bar_links" %>

          <% if @current == "lists" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "10.1. Practice", practice_lists_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "11. If-Statements", if_statements_path, class: "side_bar_links" %>

          <% if @current == "if_statements" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "11.1. Practice", practice_if_statements_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "12. For-Loops", for_loops_path, class: "side_bar_links" %>

          <% if @current == "for_loops" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "12.1. Practice", practice_for_loops_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "13. Dictionaries", dictionaries_path, class: "side_bar_links" %>

          <% if @current == "dictionaries" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "13.1. Practice", practice_dictionaries_path, class: "side_bar_links practice_link", style: "margin-bottom: 14px;" %>

        <div style="position: relative;">
          <%= link_to "14. Project 1", practice_project_one_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>

          <% if @current == "practice_project_one" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "15. Project 2", practice_project_two_path, class: "side_bar_links", style: "margin-bottom: 14px;" %>

          <% if @current == "practice_project_two" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "16. Personal Project (Start)", personal_project_path, class: "side_bar_links", style: "text-decoration: underline;" %>

          <% if @current == "personal_project" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>



        <!--
        <div style="margin: 0px 0px 22px 0px;"> <span style="font-size: 15px;  text-decoration: underline;"> Classes are on each evening <br> of the week 18.00-19.00 and <br> 19.00-20.00 UK-time. </span> </div>
        -->
        
      </div>


      <div id="lesson_content">
          <%= yield %>

          <div style="margin-top: 8px; visibility: hidden;">
            <%= form_for :student_communication, url: student_communication_url do |f| %>
                <%= f.text_field :content, placeholder: "Your Question",
                    style: "width: 288px; height: 100px; margin-bottom: 6px;", :required => true %> <br>
                
                <%= f.text_field :student, placeholder: "Your Name",
                    style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

                <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

                <%= f.submit "Submit", style: "cursor: pointer; font-size: 14px; margin-top: 0px; padding: 4px 8px 4px 8px;" %> <br> <br>
            <% end %>
          </div>
      </div>
    </div>

  </body>
</html>
