<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Python Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://codegates.com/assets/images/favicon.png?v37705171731551"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      font-family: Verdana, sans-serif; 
      background-color: #F6F6EF;
      /* background-color: #F7EEE5; */
      /* background-color: #F5F7EE; */
      margin-top: 12px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    a{
      color: black;
    }

    #container{
      width: 1040px;
      margin: auto;
    }

    #course_title{
      margin-bottom: 32px;
      font-size: 18px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    .practice_link{
      color: #262626;
      margin-bottom: 12px;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }

    #ask_tutor_link{
      margin-right: 12px;
      padding: 3px 7px 3px 7px;
      /* background-color: #B0E46E; */
      text-decoration: underline;
    }

    .vid_title{
      font-weight: bold; 
      font-size: 18px;
    }

    .vid_description{
      margin-top: 6px;
      width: 468px;
      line-height: 1.32;
    }

    .to_practice_btn{
      background-color: #DEDED4; 
      padding: 4px 12px;
      text-decoration: none;
      font-size: 15px;
      border: 2px solid lightgrey;
    }


    .link_overlay{
       position: absolute; 
       top: 0; 
       left: 0; 
       z-index: 10; 
       background-color: orange; 
       width: 214px; 
       text-align: right; 
       color: orange; 
       opacity: 0.2;
     }
  </style>

  <body>
    
    <div id="container" style="position: relative;">

      <div style="position: absolute; right: 0px; top: 10px;">
      <%= link_to "Ask a Tutor", ask_tutor_path, style: "text-decoration: none; padding: 7px 13px; background-color: orange; font-weight: bold;" %> 

      <%= link_to "Join our Evening Classes", join_class_path, style: "text-decoration: none; padding: 7px 13px; background-color: orange; font-weight: bold;" %> 
      </div>

      <div style="margin-bottom: 22px;">
        <%= link_to root_path, style: "text-decoration: none; position: inline;" do %>
          <h1 style="margin: 0px 0px 4px 0px; font-size: 28px;"> Codegates Python </h1>
          <h2 style="margin: 0px 0px 10px 0px; font-size: 18px;"> The Minimum to be dangerous </h2>
        <% end %>
      </div>

      
      <div id="side_bar">
        <div style="position: relative;">
          <%= link_to "One Minute Intro", page_one_path, class: "side_bar_links", style: "margin-bottom: 12px;" %>
          <% if @current == "lesson_one" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "1. Repl.it", page_two_path, class: "side_bar_links", style: "position: relative;" %>

          <% if @current == "lesson_two" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "1.1. Practice", page_three_path, class: "side_bar_links practice_link" %>

          <% if @current == "first_practice" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "2. Built-in Functions", page_four_path, class: "side_bar_links" %>
        
            <% if @current == "lesson_four" %>
              <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <%= link_to "2.1. Practice", page_five_path, class: "side_bar_links practice_link" %>
        
        <div style="position: relative;">
          <%= link_to "3. Programming Languages", page_six_path, class: "side_bar_links", style: "margin-bottom: 12px;" %>

          <% if @current == "lesson_six" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <div style="position: relative;">
          <%= link_to "4. Strings & String-Functions", page_seven_path, class: "side_bar_links" %>
          
          <% if @current == "lesson_seven" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "4.1. Practice", page_eight_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "5. Comments", page_nine_path, class: "side_bar_links" %>

          <% if @current == "lesson_nine" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "5.1. Practice", page_ten_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "6. Variables", page_eleven_path, class: "side_bar_links" %>
        
          <% if @current == "lesson_eleven" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>
        <%= link_to "6.1 Practice", page_twelve_path, class: "side_bar_links practice_link" %>

        <div style="position: relative;">
          <%= link_to "7. Case Study 1", page_thirteen_path, class: "side_bar_links" %>
          
          <% if @current == "lesson_thirteen" %>
            <div class="link_overlay"> A </div>
          <% end %>
        </div>

        <br>
        <div style="margin: 0px 0px 22px 0px;"> <span style="font-size: 15px; font-weight: bold; line-height: 1.32; text-decoration: underline;"> More Tutorials are  <br> coming ... </span> </div>

        <!--
        <div style="margin: 0px 0px 22px 0px;"> <span style="font-size: 15px;  text-decoration: underline;"> Classes are on each evening <br> of the week 18.00-19.00 and <br> 19.00-20.00 UK-time. </span> </div>
        -->
        
      </div>


      <div id="lesson_content">
          <%= yield %>

          <div style="margin-top: 8px; visibility: hidden;">
            <%= form_for :student_communication, url: student_communication_url do |f| %>
                <%= f.text_field :content, placeholder: "Your Question",
                    style: "width: 288px; height: 100px; margin-bottom: 6px;", :required => true %> <br>
                
                <%= f.text_field :student, placeholder: "Your Name",
                    style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

                <%= f.text_field :tutor, placeholder: "Your Email", style: "width: 288px; height: 26px; margin-bottom: 12px;", :required => true %> <br>

                <%= f.submit "Submit", style: "cursor: pointer; font-size: 14px; margin-top: 0px; padding: 4px 8px 4px 8px;" %> <br> <br>
            <% end %>
          </div>
      </div>
    </div>

  </body>
</html>
