<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Coding Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://codegates.com/assets/images/favicon.png?v37705171731551"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      font-family: "Verdana, Geneva, sans-serif"; 
      background-color: #F6F6EF;
      /* background-color: #F7EEE5; */
      margin-top: 12px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    a{
      color: black;
    }

    #container{
      width: 1040px;
      margin: auto;
    }

    #course_title{
      margin-bottom: 32px;
      font-size: 18px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    .practice_link{
      color: #565656;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }

    #ask_tutor_link{
      margin-right: 12px;
      padding: 3px 7px 3px 7px;
      /* background-color: #B0E46E; */
      text-decoration: underline;
    }

    .next_lesson_btn{
      background-color: #DEDED4; 
      padding: 4px 12px;
      text-decoration: none;
      font-size: 15px;
      border: 2px solid lightgrey;
    }

    .practice_environ_ctn{
      border: 3px solid lightgrey;
    }
  </style>

  <body>
    
    
    <div id="container">
      
      <%= link_to root_path, style: "text-decoration: none;" do %>
        <h1 style="margin: 0px 0px 4px 0px; font-size: 28px;"> Codegates Python </h1>
      <% end %>

      <!-- 
        <span style="font-size: 20px; font-weight: bold;"> Practice Environment </span>
      -->
   
      <%= yield %>

    </div>

  </body>
</html>
