<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Coding Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://codegates.com/assets/images/favicon.png?v37705171731551"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      font-family: "Verdana, Geneva, sans-serif"; 
      background-color: #F6F6EF;
      /* background-color: #F7EEE5; */
      margin-top: 36px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    a{
      color: black;
    }

    #container{
      width: 1040px;
      margin-left: 100px;
    }

    #course_title{
      margin-bottom: 32px;
      font-size: 18px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    .practice_link{
      color: #565656;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }

    #ask_tutor_link{
      margin-right: 12px;
      padding: 3px 7px 3px 7px;
      /* background-color: #B0E46E; */
      text-decoration: underline;
    }
  </style>

  <body>
    
    
    <div id="container">
      
    <span style="background-color: orange; font-size: 18px; font-weight: bold;"> Classes are on each evening, 18.00-19.00 and 19.00-20.00. You can choose freely. </span>

      <!--
      <h3 id="course_title"> Programming with Python </h3>
      -->

      <h3 id="course_title"> Codegates Python - The Minimum to be Dangerous </h3>

      <div id="side_bar">
        <%= link_to "1. Repl.it", page_two_path, class: "side_bar_links" %>
        <%= link_to "Practice", page_three_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>

        <%= link_to "2. Built-in Functions", page_four_path, class: "side_bar_links" %>
        <%= link_to "Practice", page_five_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>

        <%= link_to "3. Programming Languages", page_six_path, class: "side_bar_links" %>
        <%= link_to "4. Strings & String-Functions", page_seven_path, class: "side_bar_links" %>
        <%= link_to "Practice", page_eight_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>

        <%= link_to "5. Comments", page_nine_path, class: "side_bar_links" %>
        <%= link_to "Practice", page_ten_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>

        <%= link_to "6. Variables", page_eleven_path, class: "side_bar_links" %>
        <%= link_to "Practice", page_twelve_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>

        <%= link_to "7. Case Study 1", page_thirteen_path, class: "side_bar_links" %>

        <br>
        <span style="font-size: 13px; background-color: lightgrey;"> More Tutorials will <br> be released here continually <br> in tandem with classes! </span>


        <!--
        <%= link_to "Practice", page_fourteen_path, class: "side_bar_links practice_link", style: "margin-left: 16px;" %>
        -->


        <!--
        <br>
        <p> This series of video tutorials and exercises <br> is to understand the necessary basics of Python, <br>
          so youre able to get to work on a project. <br> The date of the next Co-coding eveing is
          always published on top of this site. <br> Below each video you have a direct Line to
          your tutor. All exercise results you submit will be received by your tutor, he;ll get back to you with comments.
        </p>
        -->

      </div>

      <div id="lesson_content">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
