<!DOCTYPE html>
<html>
  <head>
    <title>Codegates - Coding Course </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/png" href="https://codegates.com/assets/images/favicon.png?v37705171731551"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    html{
      /* font-family: "DejaVu Sans"; */
      background-color: #F6F6EF;
      /* background-color: #F7EEE5; */
      margin-top: 36px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    a{
      color: black;
    }

    #container{
      width: 1040px;
      margin-left: 100px;
    }

    #course_title{
      margin-bottom: 32px;
      font-size: 18px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    .practice_link{
      color: #565656;
    }

    #lesson_content{
      width: 760px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }

    #ask_tutor_link{
      margin-right: 12px;
      padding: 3px 7px 3px 7px;
      /* background-color: #B0E46E; */
      text-decoration: underline;
    }
  </style>

  <body>
    
    
    <div id="container">
    <span style="background-color: orange; font-size: 18px; font-weight: bold;"> Classes are on each evening, 18.00-19.00 and 19.00-20.00. You can choose freely. </span>

      <!--
      <h3 id="course_title"> Programming with Python </h3>
      -->

        <%= yield %>


    </div>

  </body>
</html>
